@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.firefly {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 128, 0.8);
  border-radius: 50%;
  filter: blur(1px);
  animation: fly 15s ease-in-out infinite, blink 4s infinite alternate;
}

@keyframes fly {
  0% {
    transform: translate(0, 0) scale(0.8);
  }
  25% {
    transform: translate(30px, -30px) scale(1);
  }
  50% {
    transform: translate(-40px, 40px) scale(0.9);
  }
  75% {
    transform: translate(50px, -50px) scale(1);
  }
  100% {
    transform: translate(-30px, 30px) scale(0.8);
  }
}

/* กระพริบแบบสุ่ม */
@keyframes blink {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
/* Auto-rotate animation */
@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(160px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(160px) rotate(-360deg);
  }
}

.orbit {
  animation: orbit 20s linear infinite;
}

/* Hover effect to pause all orbiting icons */
.orbit-container:hover .orbit {
  animation-play-state: paused;
}

.canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
